# Ignorar cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar ambientes virtuais
.env
.venv/
env/
venv/

# Ignorar arquivos de configuração locais
*.env
*.log

# Ignorar arquivos de IDEs
.vscode/
.idea/

# Ignorar arquivos de build/distribuição
build/
dist/
*.egg-info/
